{% extends './base.html' %}

{% block main %}

    <h1> Book Info </h1>
<div class="card" style="width: 18rem;">

  <img src="{{book.image_url}}"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{book.title}}</h5>
    <p class="card-text">{{book.description}}</p>
        <p class="card-text">{{book.pages}}</p>
        <a href="{{url_for('books.index')}}" class="btn btn-success">back to books</a>
    <a href="{{book.edit_url}}" class="btn btn-primary">Edit</a>
    <td>
        <form action="{{book.delete_url}}" method="post" >
            <input type="submit" value="Delete" class="btn btn-danger">
        </form>
    </td>
  </div>
</div>

{% endblock %}